@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    background-color: rgb(32, 9, 53);
    padding-top: 150px;
    font-family: 'Roboto', sans-serif;
}
.btn{
    background-color: rgb(32, 9, 53);
}

.btn:hover,
.btn:focus{
    background: linear-gradient(90deg, rgb(215, 72, 96),rgb(238, 170, 61));
    transition: all ease-in-out 2s; 
}
#success{
    max-width: 500px !important;
    height: 100% !important;
}
#main{
    max-width: 1000px !important;
}
@media screen and (max-width:800px) {
    body{
        
        padding-top: 30px;
        
    }
    #success{
        margin-top: 150px;
    }
}
@media screen and (max-width:400px) {
    body{
        background-color: transparent !important;
        padding: 0px !important;
    } 
    #main{
        width: 100% !important;
        height: 600px !important;
        padding: 0px !important;
    }
    #success{
        height:600px !important
    }
}